/* Palette colors */
$colorWhite:           #ffffff;
$colorWhiteSmoke:      #f5f5f5;
$colorSnow:            #fafafa;
$colorNightRider:      #333333;
$colorNobel:           #999999;
$colorAtomic:          #37474f;
$colorDipSkyBlue:      #03a9f4;
$colorFruitSalad:      #4caf50;
$colorGainsboro:       #dddddd;
$colorJava:            #26a69a;
$colorRedOrange:       #f44336;