doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.min.css")
    link(rel="preload", href="fonts/RobotoCondensed-Light.woff2", type="font/woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/RobotoCondensed-Light.woff", type="font/woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/RobotoCondensed-Regular.woff2", type="font/woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/RobotoCondensed-Regular.woff", type="font/woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/RobotoCondensed-Bold.woff2", type="font/woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/RobotoCondensed-Bold.woff", type="font/woff", as="font", crossorigin="anonymous")
  body.page
    include ../blocks/header/header
    main 
     .container

    include ../blocks/footer/footer
    script(src="js/main.js")