ul.list-notify
  li.list-notify__item
    span.visually-hidden Показывает входящие сообщения.
    a.list-notify__link(href="#!") 
    ul.sublist-mail
      li.sublist-mail__item
        img.sublist-mail__avatar(src="#!", alt="Иконка")
        span.sublist-mail__title Название письма
      li.sublist-mail__item
        img.sublist-mail__avatar(src="#!", alt="Иконка")
        span.sublist-mail__title Название письма
      li.sublist-mail__item
        img.sublist-mail__avatar(src="#!", alt="Иконка")
        span.sublist-mail__title Название письма
  li.list-notify__item
    span.visually-hidden Показывает входящие оповещения.
    a.list-notify__link(href="#!") 
    ul.sublist-notify
      li.sublist-notify__item
        span.sublist-notify__text Отчет сформирован
        a.sublist-notify__link(href="#!") Скачать
      li.sublist-notify__item
        span.sublist-notify__text Отчет сформирован
        a.sublist-notify__link(href="#!") Скачать
      li.sublist-notify__item
        span.sublist-notify__text Отчет сформирован
        a.sublist-notify__link(href="#!") Скачать
      li.sublist-notify__item
        span.sublist-notify__text Отчет сформирован
        a.sublist-notify__link(href="#!") Скачать