.user
  .user__avatar
    a.user__img(href="#!")
  span.user__name Head User
  span.user__post Administrator
  button.user__button(type="button")
    span.visually-hidden Переключение отображения меню.
  ul.list-user
    li.list-user__item
      a.list-user__link(href="#!") Сменить пароль
    li.list-user__item
      a.list-user__link(href="#!") Инструкция
    li.list-user__item
      a.list-user__link(href="#!") Профиль
    li.list-user__item
      a.list-user__link(href="#!") Выйти