extends ../templates/main

include ../templates/mixin 
  
block variables 
  - var pageTitle = "Банкоматы"
  - var pageClass = "index-page"

block content 
  main(class= pageClass)
    .content 
      header.title-content 
        ul.list-breadcrumbs 
          +breadcrumb(false, "Главная", "index.html")
          +breadcrumb(true, "Банкоматы").list-breadcrumbs__link--active
        
        .content__title  
          h2.title #{pageTitle}
          form.form-search
            input.form-search__input(type="search" name="search" placeholder="Поиск...")
            button.form-search__button(type)
              svg.form-search__icon(aria-hidden="true", focusable="false", width="24", height="24", xmlns="http://www.w3.org/2000/svg")
                use(xlink:href="img/sprite.svg#search")
      .page-content