-
  var listUsers = [
    {
      text: "Сменить пароль",
      link: "#!",
      icon: "lock"
    },
    {
      text: "Профиль",
      link: "#!",
      icon: "portrait"
    },
    {
      text: "Выход",
      link: "#!",
      icon: "sign-out"
    }
  ];