-
  var sublistPages = {
    "Управление": [
      {
        text: "Задания",
        link: "#!",
        icon: "check"
      },
      {
        text: "Правила",
        link: "#!",
        icon: "list"
      },
      {
        text: "Эталонные правила",
        link: "#!",
        icon: "interlining"
      }
    ],
    "Настройки": [
      {
        text: "Устройства самообслуживания",
        link: "#!",
        icon: "credit-card"
      },
      {
        text: "Справочники",
        link: "#!",
        icon: "book-alt"
      },
      {
        text: "Роли",
        link: "#!",
        icon: "chart-tree"
      },
      {
        text: "Сервер",
        link: "#!",
        icon: "database"
      },
      {
        text: "Функциональные настройки",
        link: "#!",
        icon: "settings-sliders"
      }
    ],
    "Отчеты": [
      {
        text: "Отчеты по банкоматам",
        link: "#!",
        icon: "document"
      },
      {
        text: "Отчеты по пользователям",
        link: "#!",
        icon: "address-book"
      }
      ]
  }