header.page-header
  button.page-header__button(type="button") x
    span.visually-hidden Переключение отображения меню.
  .page-header__logo
    a.page-header__link(href="#!") 
      span.page-header__text 
        span.page-header__simbol К
        |оСМоС
  nav.page-header__nav
    include ../list-pages/list-pages
  include ../user/user