header.page-header 
  a.page-header__logo(href="#!") 
    img(src="img/logo.png", alt="Логотип сайта.", width="45", height="45")
    |КоСМоС
  nav.page-header__nav 
    include ../list-pages/list-pages
  .page-header__block 
    include ../info
    include ../user
