-
  var listPages = [
    {
      name: "Банкоматы",
      link: "index.html",
    },
    {
      name: "Управление",
      lists: [
        {
          name: "Задания",
          link: "#!",
        },
        {
          name: "Правила",
          link: "#!",
        },
        {
          name: "Эталонные правила",
          link: "#!",
        }
      ],
    },
    {
      name: "Отчеты",
      lists: [
        {
          name: "Отчеты по УС",
          link: "#!",
        },
        {
          name: "Отчеты по пользователям",
          link: "#!",
        }
      ],
    },
    {
      name: "Графики",
      link: "dashboard.html",
    },
    {
      name: "Дефектность",
      lists: [
        {
          name: "Дефект1",
          link: "#!",
        },
        {
          name: "Дефект2",
          link: "#!",
        }
      ],
    },
    {
      name: "Настройки",
      link: "settings.html",
    },
  ]